<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<style>
    .card {
        border-radius: 0;
    }

    #labelHead {
        color: #83a70c;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12pt;
    }

    /* checkbox css */
    .inputGroup {
        background-color: #fff;
        width: 220pt;
        display: block;
        margin: 10px 0;
        position: relative;
    }

    .statusLabel {
        padding: 12px 30px;
        width: 100%;
        display: block;
        text-align: left;
        color: #3C454C;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        font-weight: bold;
        font-size: 14px;
    }

    .statusLabel:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
    }

    .statusLabel:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #83a70c;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
    }

    .statusInput {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }

    .statusInput:checked~label {
        color: #fff;
    }

    .statusInput:checked~label:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
    }

    .statusInput:checked~label:after {
        background-color: darkgreen;
        border-color: aquamarine;
    }

    /* delete button */
    /* Set a style for all buttons */
    .modalBtn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .modalBtn:hover {
        opacity: 1;
    }

    /* Float cancel and delete buttons and add an equal width */
    .cancelbtn,
    .deletebtn {
        float: left;
        width: 50%;
    }

    /* Add a color to the cancel button */
    .cancelbtn {
        background-color: #ccc;
        color: black;
    }

    /* Add a color to the delete button */
    .deletebtn {
        background-color: #f44336;
    }

    /* Add padding and center-align text to the container */
    .container {
        padding: 16px;
        text-align: center;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(8, 8, 8, 0.5);
        padding-top: 50px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and delete button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .deletebtn {
            width: 100%;
        }
    }
</style>

<div class="default-page" style=" width: 800pt;">
    <div class="row mx-sm-2">
        <div class="form-group col-12" style="text-align: right;">
            <br>
            <% if(clubMem.formStatus == "rejected") {%>
            <a type="button" class="btn btn-danger" style="color: white;">已拒絕 Rejected</a>
            <%} else {%>
            <a type="button" class="btn btn-danger" style="color: white;"
                onclick="document.getElementById('<%= clubMem.id%>').style.display='block'">拒絕 Reject</a>

            <%}%> 
       </div>

        <% var n = new Date(clubMem.createdAt);
            var month = n.getMonth() + 1;
            var applyDate = n.getDate() + "/" + month + "/" + n.getFullYear(); %>
            <div class="col-12" align="right">
                <h6>申請編號 Application No.: <%= clubMem.idCode %></h6>
                <p>提交日期 Apply Date: <%= applyDate %></p>
            </div>
        </div>

        <table style="width: 700pt;">
            <tr>
                <br>
                <td style="text-align:center">
                    <img src="/images/logoNew.png" alt="logo" width="100px" height="100px">
                </td>
            </tr>
            <tr>
                <td
                    style="font-family: Verdana,Arial, Helvetica, sans-serif;  color: #888888;font-size:19px;text-align:center">
                    <b>中國香港體操總會 The Gymnastics Association of Hong Kong, China
                    </b><br><br> <b><u>Application for Club Membership</u> </b><br> <b><u>團體註冊申請</u></b>
                    <br><br>
                </td>
            </tr>
        </table>

        <form action="/admin/applyHandle/clubMemEdit/<%= clubMem.id %>" method="POST" id="clubMem">
            <ol class="row mx-sm-2" type="A">
                <!-- 申請年份 Year of Application -->
                <div class="col-12">
                    <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">申請年份
                        Year of Application</h5>
                    <%var todayYear = new Date().getFullYear(); 
                    var end = todayYear + 2;%>
                    <select name="ClubMember[clubYear]" required>
                        <% for (var year = todayYear; year <= end; year++){%>
                        <option value="<%=year%>" <%if(year == clubMem.clubYear) {%> selected<%}%> ><%=year%></option>
                            <%}%>
                    </select>
                    <br><br>
                </div>

                <li class="col-12 partA"
                    style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">
                    申請者資料 Particulars of Applicant
                </li>
                <div class="form-group col-12 partA">
                    <br>
                    <label>機構 Organization:</label>
                    <input type="text" name="ClubMember[OrgEngName]" value="<%= clubMem.OrgEngName%>"
                            style="width:450pt" placeholder=" (英文 English)"
                            onkeyup="value=value.replace(/[^\a-\z\A-\Z\ \(\)\.\-\d\0-\9]/g,'')" required>
                </div>

                <div class="form-group col-12 partA">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="ClubMember[OrgChiName]" value="<%= clubMem.OrgChiName%>"
                        style="width:450pt" placeholder="         (中文 Chinese)"
                        onkeyup="value=value.replace(/[^\u4E00-\u9FA5\ \(\)\.\-\d\0-\9]/g,'')" required>
                </div>

                <div class="form-group col-12 col-sm-7 partA">
                    <label>申請者姓名 Name of Applicant:</label>
                    <input type="text" name="ClubMember[AppEngName]" value="<%= clubMem.AppEngName%>"
                        style="width:200pt" placeholder="         (英文 English)"
                        onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
                </div>

                <div class="form-group col-12 col-sm-5 partA">
                    <input type="text" name="ClubMember[AppChiName]" value="<%= clubMem.AppChiName%>"
                        style="width:200pt" placeholder="         (中文 Chinese)"
                        onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                </div>

                <div class="form-group col-12 partA">
                    <label>地址 Address:</label>
                    <input type="text" name="ClubMember[clubAddr]" value="<%= clubMem.clubAddr%>" style="width:450pt"
                        required>
                </div>

                <div class="form-group col-12 col-sm-6 partA">
                    <label>電話 Tel:</label>
                    <input type="text" name="ClubMember[clubTel]" value="<%= clubMem.clubTel%>" maxlength="8"
                        onkeyup="value=value.replace(/[^\d\0-\9]/g,'')" style="width:150pt" required>
                </div>

                <div class="form-group col-12 col-sm-6 partA">
                    <label>傳真 Fax:</label>
                    <input type="text" name="ClubMember[clubFax]" value="<%= clubMem.clubFax%>" style="width:150pt"
                        required>
                </div>

                <div class="form-group col-12 col-sm-6 partA">
                    <label>電郵 E-mail:</label>
                    <input type="email" name="ClubMember[clubEmail]" value="<%= clubMem.clubEmail%>" style="width:200pt"
                        required>
                </div>

                <div class="form-group col-12 col-sm-6 partA">
                    <label>網址 Web-site:</label>
                    <input type="url" name="ClubMember[clubWeb]" value="<%= clubMem.clubWeb%>" style="width:200pt"
                        required>
                </div>

                <div class="form-group col-12 partA">
                    <label>機構成員人數 No. of Members in the Organization:</label>
                    <input type="number" name="ClubMember[MemberNo]" value="<%= clubMem.MemberNo%>" min="1" required>
                </div>

                <li class="col-12 partB" for="brefDes"
                    style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">
                    請簡單描述貴機構/團體/學校曾舉辦或參與的體操活動 <br> Brief description of gymnastic activities which the Organization /
                    Club / School has organized / taken part
                </li>
                <div class="col-12 partB"><textarea id="brefDes" type="text" name="ClubMember[brefDes]" cols=100
                        rows=5><%= clubMem.brefDes%></textarea><br><br></div>


                <li class="col-12 partC"
                    style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">
                    體操活動的機構代表/負責人資料<br>Particulars of Organization Representative / Person in charge of the gymnastic
                    activities</li>

                <div class="form-group col-12 col-sm-6 partC">
                    <br>
                    <label>姓名 Name:</label>
                    <input type="text" name="ClubMember[resEngName]" value="<%= clubMem.resEngName%>"
                        style="width:200pt" placeholder="         (英文 English)"
                        onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
                </div>

                <div class="form-group col-12 col-sm-6 partC">
                    <br>
                    <input type="text" name="ClubMember[resChiName]" value="<%= clubMem.resChiName%>"
                        style="width:200pt" placeholder="         (中文 Chinese)"
                        onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                </div>

                <div class="form-group col-12 partC">
                    <label>職位 Position held:</label>
                    <input type="text" name="ClubMember[position]" value="<%= clubMem.position%>" style="width:450pt"
                        required>
                </div>

                <div class="form-group col-12 partC">
                    <label>地址 Address:</label>
                    <input type="text" name="ClubMember[resAddr]" value="<%= clubMem.resAddr%>" style="width:500pt"
                        required>
                </div>

                <div class="form-group col-12 col-sm-6 partC">
                    <label>電話 Tel:</label>
                    <input type="text" name="ClubMember[resTel]" value="<%= clubMem.resTel%>" maxlength="8"
                        onkeyup="value=value.replace(/[^\d\0-\9]/g,'')" style="width:150pt" required>
                </div>

                <div class="form-group col-12 col-sm-6 partC">
                    <label>傳真 Fax:</label>
                    <input type="text" name="ClubMember[resFax]" value="<%= clubMem.resFax%>" style="width:150pt"
                        required>
                </div>

                <div class="form-group col-12 partC">
                    <label>電郵 E-mail:</label>
                    <input type="email" name="ClubMember[resEmail]" value="<%= clubMem.resEmail%>" style="width:500pt"
                        required>
                </div>

                <li class="col-12 partD"
                    style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">
                    致中國香港體操總會主席 To the Chairperson of GAHK
                </li>

                <div class="form-group col-12 partD">
                    <input type="checkbox" checked required>
                    <label>本人/我們(以下簽名人)謹此申請GAHK的團體會員資格，謹證明本人/我們在A，B和C部分所提供的資料正確無誤及完成。<br>I/We, the undersigned, hereby
                        would like to apply for the Club Membership of the GAHK and I/We, certify that the information
                        given in paragraphs A, B & C is correct and complete.</label>


                    <br><br>
                    <p>The prescribed membership fee for the year of <input type="number" name="ClubMember[year]"
                            value="<%= clubMem.year%>" style="width: 30pt;" min="1" required> at
                        <select name="ClubMember[clubFee]" required>
                            <option disabled>Choose Amount</option>
                            <option value="1000" <% if(clubMem.clubFee == "1000"){%>selected<%}%> >HK$1,000</option>
                                <option value="150" <% if(clubMem.clubFee == "150"){%>selected<%}%>>HK$150</option>
                            </select> and details of the Organization is attached.</p>
                </div>
    
                <div class="form-group col-12 partD">
                    <label><b>D部分 Part D</b></label>
                    
                        <% if(clubMem.partD) {
                            var type = clubMem.partD.split(';');%> <div>
                                <% if(type[0] == 'data:application/pdf') { %>
                                <a download="<%= clubMem.idCode%>_partD_D部分.pdf" href="<%=clubMem.partD%>"
                                    target="_blank">下載 Download</a>
                                <br>
                                <% } else if(type[0] == 'data:image/jpeg'|| type[0] == 'data:image/png') { %>
                                <a download="<%= clubMem.idCode%>_partD_D部分.jpeg" href="<%=clubMem.partD%>"
                                    target="_blank">下載 Download</a>
                                <br>
                                <img src="<%=clubMem.partD%>" style="height:150px; width:auto" />
                                <%}%>
                            </div>
                        <%}%>
                                <div>
                                    <label>重新上載D部分 Reupload Part D</label>
                                    <br>
                                    <input type="file" accept="image/*,application/pdf"
                                        onchange="handleFile(this.files)" />
                                    <div id="preview"></div>
                                </div>
                </div>
            </ol>

            <div class="form-group col-12 mx-sm-2">
                <h5 id="labelHead">付款狀況 Payment Status</h5>
                <% if(clubMem.payStatus == "paid") {%>
                <div class="inputGroup">
                    <input class="statusInput" id="payStatus" type="checkbox" checked disabled />
                    <label for="payStatus" class="statusLabel" id="payLabel">已付款 Paid</label>
                </div>
                <%} else {%>
                <div class="inputGroup">
                    <input class="statusInput" id="payStatus" name="ClubMember[payStatus]" value="paid" type="checkbox"
                        onclick="changeToPaid()" />
                    <label for="payStatus" class="statusLabel" id="payLabel">未付款 Unpaid</label>
                </div>
                <%}%>
            </div>

            <div class="form-group col-12 mx-sm-2">
                <h5 id="labelHead">申請狀況 Apply Status</h5>
        
                 <%if(clubMem.formStatus == "accepted"){%>
                <div class="inputGroup">
                    <input class="statusInput" id="TohandBtn" name="ClubMember[formStatus]" value="ToBeCon" type="radio"
                        disabled />
                    <label for="TohandBtn" class="statusLabel" id="handleLabel">待處理 To be
                        handled</label>
                </div>
                <div class="inputGroup">
                    <input class="statusInput" id="con" type="checkbox" checked disabled />
                    <label for="con" class="statusLabel" id="dataDefLabel">已確認 Accepted</label>
                </div>
                <div class="inputGroup">
                    <input class="statusInput" id="dataDef" type="checkbox" disabled />
                    <label for="dataDef" class="statusLabel" id="dataDefLabel">資料不全 Data
                        Deficiency</label>
                </div>
                <% } else if(clubMem.formStatus == "dataDef"){%>
                <div class="inputGroup">
                    <input class="statusInput" id="TohandBtn" name="ClubMember[formStatus]" value="ToBeCon" type="radio"
                        onclick="changeToCon()" />
                    <label for="TohandBtn" class="statusLabel" id="handleLabel">待處理 To be
                        handled</label>
                </div>

                <div class="inputGroup">
                    <input class="statusInput" id="ToConBtn" name="ClubMember[formStatus]" value="accepted" type="radio"
                        onclick="changeToCon()" />
                    <label for="ToConBtn" class="statusLabel" id="confirmLabel">確認 Confirmed</label>
                </div>

                <div class="inputGroup">
                    <input class="statusInput" id="dataDef" name="ClubMember[formStatus]" value="dataDef" type="radio"
                        checked onclick="changeToCon()" />
                    <label for="dataDef" class="statusLabel" id="dataDefLabel">資料不全 Data
                        Deficiency</label>
                </div>
                <%} else {%>
                <div class="inputGroup">
                    <input class="statusInput" id="TohandBtn" name="ClubMember[formStatus]" value="ToBeCon" type="radio"
                        onclick="changeToCon()" checked />
                    <label for="TohandBtn" class="statusLabel" id="handleLabel">待處理 To be
                        handled</label>
                </div>

                <div class="inputGroup">
                    <input class="statusInput" id="ToConBtn" name="ClubMember[formStatus]" value="accepted" type="radio"
                        onclick="changeToCon()" />
                    <label for="ToConBtn" class="statusLabel" id="confirmLabel">確認 Confirm</label>
                </div>

                <div class="inputGroup">
                    <input class="statusInput" id="dataDef" name="ClubMember[formStatus]" value="dataDef"
                        onclick="changeToCon()" type="radio" />
                    <label for="dataDef" class="statusLabel" id="dataDefLabel">資料不全 Data
                        Deficiency</label>
                </div>

                <%}%>
            </div>

            <div class="form-group col-12" style="text-align: right;">
                <%if(clubMem.formStatus == "rejected"){%>
                <a class="btn btn-success" style="color: white;" onclick="history.back()">完成 Submit</a>
                <%} else {%>
                <button class="btn btn-success" onclick="submitForm('<%= clubMem.idCode%>')">完成
                    Submit</button>
                <%}%>
            </div>
        
        
            <% var m = new Date(clubMem.updatedAt);
                var month = m.getMonth() + 1;
                var updateDate = m.getDate() + "/" + month + "/" + m.getFullYear() + " " + m.getHours() + ":" + m.getMinutes() + ":" + m.getSeconds(); %>
                <p class="col-12" style="font-size: smaller;">上次更新 Last upadated: <%= updateDate%></p>


        </form>
    </div>

    <div id="<%= clubMem.id%>" class="modal">
        <div class="modal-content">
            <div class="container">
                <h1>拒絕申請 Reject Application<br><%= clubMem.idCode%></h1>
                <p>確定要拒絕這份申請表?<br>Are you sure you want to reject this application?</p>

                <div class="clearfix">
                    <button type="button" class="cancelbtn modalBtn"
                        onclick="document.getElementById('<%= clubMem.id%>').style.display='none'">取消 Cancel</button>
                    <button type="button" class="deletebtn modalBtn" onclick="rejectForm('<%= clubMem.id%>')">拒絕
                        Reject</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () { disableform('clubMem', '<%= clubMem.formStatus%>') };
        function disableform(formId, formStatus) {
            if (formStatus == "rejected") {
                var f = document.forms[formId].getElementsByTagName('input');
                for (var i = 0; i < f.length; i++)
                    f[i].disabled = true
                var f = document.forms[0].getElementsByTagName('textarea');
                for (var i = 0; i < f.length; i++)
                    f[i].disabled = true
                var f = document.forms[0].getElementsByTagName('select');
                for (var i = 0; i < f.length; i++)
                    f[i].disabled = true
            }
        }


        var modal = document.getElementById('<%= clubMem.id%>');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        //button function
        function submitForm(id) {
            alert("更新成功 Successfully Updated" + "\n" + id);
        }

        async function rejectForm(id) {
            var response = await fetch("/admin/applyHandle/reject/clubMem/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });
            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }
        };

        function changeToPaid() {
            var payLabel = document.getElementById("payLabel");
            var payStatus = document.getElementById("payStatus");

            if (payStatus.checked == true) {
                payLabel.innerHTML = "已付款 Paid";
            } else {
                payLabel.innerHTML = "未付款 Unpaid";
            }
        }

        function changeToCon() {
            var confirmLabel = document.getElementById("confirmLabel");
            var ToConBtn = document.getElementById("ToConBtn");

            if (ToConBtn.checked == true) {
                confirmLabel.innerHTML = "已確認 Accepted";
            } else {
                confirmLabel.innerHTML = "確認 Confirm";
            }
        }


        function handleFile(files) {
            const file = files[0];
            if (!file.type.startsWith('image/') && !file.type == 'application/pdf') return;
            var preview = document.getElementById('preview');
            var reader = new FileReader();

            if (file.type.startsWith('image/')) {
                reader.onload = function (e) {
                    preview.innerHTML = "";
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    preview.appendChild(img);
                    var input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'ClubMember[partD]';
                    input.value = e.target.result;
                    img.style.width = "auto";
                    img.style.height = "150px";
                    preview.appendChild(input);
                }
            } else if (file.type == 'application/pdf') {
                reader.onload = function (e) {
                    preview.innerHTML = "";
                    var input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'ClubMember[partD]';
                    input.value = e.target.result;
                    preview.appendChild(input);
                }
            }
            reader.readAsDataURL(file);
        }
    </script>