<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    mark {
        background-color: yellow;
    }

    #subjects {
        background-color: #f5f5f5;
    }

    #btns {
        padding: 8px;
        text-align: right;
        border-bottom: 1px solid #ddd;
    }

    .fa-check {
        color: green;
    }

    .fa-remove {
        color: red;
    }

    #statusBtn {
        width: 65pt;
        font-size: small;
        text-align: center;
    }

    /* delete button */
    .modalBtn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .modalBtn:hover {
        opacity: 1;
    }

    .cancelbtn,
    .deletebtn,
    .confirmbtn {
        float: left;
        width: 50%;
    }

    .cancelbtn {
        background-color: #ccc;
        color: black;
    }

    .deletebtn {
        background-color: #f44336;
    }

    .confirmbtn {
        background-color: rgb(63, 63, 236);
    }

    .container {
        padding: 16px;
        text-align: center;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(8, 8, 8, 0.5);
        padding-top: 50px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    @media screen and (max-width: 300px) {

        .cancelbtn,
        .deletebtn .confirmbtn {
            width: 100%;
        }
    }
</style>

<%- partial('../partial/sidemenu.ejs') %>
<div class="content admin w-100">
    <h5 class="main-heading1">
        普及體操節申請處理管理<span class="highlight">系統</span>
    </h5>

    <!-- Search bar -->
    <form action="/admin/applyHandle/gfaSearch" method="GET">
        <div class="row mx-sm-2">
            <div class="form-group col-12 col-sm-6">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">年份 Year</label>
                <%var todayYear = new Date().getFullYear();
                var end = todayYear + 2;%>
                <select class="form-control" id="year" name="year">
                    <option value="">請選擇年份 Select Year</option>
                    <% for (var year = 2020; year <= end; year++){%>
                    <option value="<%=year%>"><%=year%></option>
                    <%}%>
                </select>
            </div>

            <div class="form-group col-12 col-sm-6">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">Category 組別</label>
                <select class="form-control" id="category" name="category">
                    <option value="">請選擇組別 Select Category</option>
                    <option value="幼稚園 Kindergarten">幼稚園 Kindergarten</option>
                    <option value="小學組 Primary School">小學組 Primary School</option>
                    <option value="公開組 Open Group">公開組 Open Group</option>
                </select>
            </div>

            <div class="form-group col-12 col-sm-6">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">申請狀況 Apply Status</label>
                <select class="form-control" id="formStatus" name="formStatus">
                    <option value="">請選擇申請狀況 Select Apply Status</option>
                    <option value="ToBeCon">待處理 To be handled</option>
                    <option value="accepted">已確認 Accepted</option>
                    <option value="rejected">已拒絕 Rejected</option>
                    <option value="dataDef">資料不全 Data Deficiency</option>
                </select>
            </div>


            <div class="form-group col-12 col-sm-6">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">付款狀況 Payment Status</label>
                <select class="form-control" id="payStatus" name="payStatus">
                    <option value="">請選擇付款狀況 Select Payment Status</option>
                    <option value="paid">已付款 Paid</option>
                    <option value="unpaid">未付款 Unpaid</option>
                </select>
            </div>
            

            <div class="form-group col-12">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">隊伍/團體狀況 Team Status</label>
                <select class="form-control" id="teamStatus" name="teamStatus">
                    <option value="">請選擇隊伍/團體狀況 Select Team Status</option>
                    <option value="suTeam">正選 Successful Team</option>
                    <option value="waitTeam">後補 Team on Waitiing List</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary"
                style="background-color: #83a70c; border-color: #83a70c; margin-left:auto; margin-right:auto;">搜尋
                Search</button>
        </div>
        <br><br>
    </form>

    <table>
        <%if (applications){%>
                    <!-- Excel Import Guidelines-->
                    <a type="button" class="mx-sm-2"
                        onclick="document.getElementById('importBrief').style.display='block'"
                        style="color: teal;"><u>Excel匯入指引 Excel Import Guidelines</u></a>
                    <!-- importBrief box -->
                    <div id="importBrief" class="modal">
                        <div class="modal-content">
                            <div class="container">
                                <h1>Excel匯入指引<br>Excel Import Guidelines</h1><br>
                                <ol style="text-align: left;">
                                    <li>請在匯入檔案前下載 <a download="gfa_範本.xlsx" href="/formDoc/gfa_template.xlsx"
                                            target="_blank">範本.xlsx</a> 並輸入資料。<br>
                                        Please download <a download="gfa_template.xlsx"
                                            href="/formDoc/gfa_template.xlsx" target="_blank">template.xlsx</a> and
                                        input the
                                        data before importing.</li>
                                    <br>
                                    <li>請不要更改、刪除或新增第1行的標示,並從第二行開始輸入資料。<br>
                                        Please do not modify, delete or append any attributes in row one. Please start
                                        inputting the
                                        data from row two.</li>
                                    <br>
                                    <li>以下為輸入字眼，如輸入錯誤，或會造成資料缺失。<br>Here are some wordings for inputting. Please make
                                        sure the inputs
                                        follow the guildeline. Otherwise, a
                                        problem of data deficiency may happen.</li>
                                    <ul>
                                            <li><mark>參賽組別 Category</mark>，請輸入字眼 please input:
                                                <ul style="list-style-type:disc;">
                                                    <li>幼稚園 Kindergarten</li>
                                                    <li>小學組 Primary School</li>
                                                    <li>公開組 Open Group</li>
                                                </ul>
                                            </li>
                                            <li><mark>是否有中文姓名 Any Chinese name</mark>，請輸入字眼 please input:
                                                <ul style="list-style-type:disc;">
                                                    <li>是 Yes</li>
                                                    <li>否 No</li>
                                                </ul>
                                            </li>
                                            <li><mark>付款狀況 Payment Status</mark>，請輸入字眼 please input:
                                                <ul style="list-style-type:disc;">
                                                    <li>未付款 Unpaid</li>
                                                    <li>已付款 Paid</li>
                                                </ul>
                                            </li>
                                            <li><mark>申請狀況 Apply Status</mark>，請輸入字眼 please input:
                                                <ul style="list-style-type:disc;">
                                                    <li>待處理 To be handled</li>
                                                    <li>已確認 Accepted</li>
                                                    <li>已拒絕 Rejected</li>
                                                    <li>資料不全 Data Deficiency</li>
                                                </ul>
                                            </li>
                                            <li><mark>隊伍/團體狀況 Team Status</mark>，請輸入字眼 please input:
                                                <ul style="list-style-type:disc;">
                                                    <li>正選 Successful Team</li>
                                                    <li>後補 Team on Waitiing List</li>
                                                </ul>
                                            </li>
                                    </ul>
                                </ol>

                                <div class="clearfix">
                                    <button type="button" class="cancelbtn modalBtn" style="float: none; width: 30%;"
                                        onclick="document.getElementById('importBrief').style.display='none'">明白
                                        Understand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- Excel Import-->
                    <form action="/gfa/import_xlsx" method="post" enctype="multipart/form-data">
                        <span class="mx-sm-2">請在匯入檔案前下載 <a download="gfa_範本.xlsx" href="/formDoc/gfa_template.xlsx"
                                target="_blank">範本.xlsx</a> 並輸入資料。</span>
                        <br>
                        <span class="mx-sm-2">Please download <a download="gfa_template.xlsx"
                                href="/formDoc/gfa_template.xlsx" target="_blank">template.xlsx</a> and input the
                            data before importing.</span>
                        <br>
                        <input class="mx-sm-2" type="file"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" />
                        <br>
                        <button type="submit" class="btn btn-primary mx-sm-2"
                            style="font-size: small; background-color:teal; border-color: teal;">匯入Excel<br>Excel
                            Import</button>
                    </form>

                    <!-- Excel Export-->
                    <a type="button" class="btn btn-info mx-sm-2" style="font-size: small; color: white; float: right;"
                        href="/gfa/export_xlsx">匯出Excel<br>Excel Export</a>
                    &nbsp;

                    <!-- 全部確認 Confirm All -->
                    <a type="button" class="btn btn-primary" style="font-size: small; color: white; float: right;"
                        onclick="document.getElementById('confirmAll').style.display='block'">全部確認<br>Confirm All</a>
                    <!-- confirmAll box -->
                    <div id="confirmAll" class="modal">
                        <div class="modal-content">
                            <div class="container">
                                <h1>全部確認 Confirm All</h1>
                                <p>確定要確認全部已搜尋申請表?<br>Are you sure you want to confirm all searched applications?
                                </p>

                                <div class="clearfix">
                                    <button type="button" class="cancelbtn modalBtn"
                                        onclick="document.getElementById('confirmAll').style.display='none'">取消
                                        Cancel</button>
                                    <button type="button" class="confirmbtn modalBtn" onclick="confirmAll()">全部確認
                                        Confirm All</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><br>
                    <span>搜尋申請項目 Searching Application Project:<br>
                        <b><% if (projectYear != null){%><%=projectYear%><%}%>香港普及體操節 GFAFestival</b></span>
                <br><br>
                
            <!-- Attributes -->
            <tr id="subjects">
                <th align="center">申請編號<br>Application No.</th>
                <th align="center">團體<br>Organisation</th>
                <th align="center">組別<br>Category</th>
                <th align="center">付款<br>Payment</th>
                <th align="center">提交日期<br>Apply Date<br>(DD/MM/YYYY)</th>
                <th align="center">狀態<br>Status</th>
            </tr>
                
            <!-- Result List -->
            <% applications.forEach( function(models) { %>
                            <% var n = new Date(models.createdAt);
                    var month = n.getMonth() + 1;
                    var applyDate = n.getDate() + "/" + month + "/" + n.getFullYear(); %>
                            <tr>
                                <!-- 申請編號 Apply No. -->
                                <td width="10%"><%= models.idCode %></td>
                                <!--Column: 隊伍/團體 Team/Organisation -->
                                <td width="35%"><%= models.teamName %></td>
                                <!-- Column:組別 Category -->
                                <td width="20%"><%= models.category %></td>

                                <!-- Column:付款 Payment -->
                                <% if(models.payStatus == "paid") {%>
                                <td width="10%"><i class="fa fa-check"></i></td>
                                <%} else if (models.payStatus == "unpaid"){%>
                                <td width="10%"><i class="fa fa-remove"></i></td>
                                <%} else {%>
                                <!-- if input wrong data when import excel -->
                                <td>&nbsp;</td>
                                <%}%>
    
                                <!-- Column:提交日期 Apply Date -->
                                <td width="15%"><%= applyDate %></td>

                                <!-- Column:狀態 Status  -->
                                <td width="10%" id="btns">
                                    <%if (models.formStatus == "rejected") {%>
                                    <button type="button" class="btn btn-outline-danger" id="statusBtn"
                                        disabled>已拒絕<br>Rejected</button>
                                    <%} else {%>
                                    <% if (models.formStatus == "accepted"){%>
                                    <button type="button" class="btn btn-outline-primary" id="statusBtn"
                                        disabled>已確認<br>Accepted</button>

                                    <%} else if(models.formStatus == "dataDef") {
                                var confirmID = "con"+ models.id %>
                                    <a type="button" class="btn btn-primary" id="statusBtn"
                                        onclick="document.getElementById('<%= confirmID%>').style.display='block'"
                                        style="color: white;">確認<br>Confirm</a>
                                    <!-- confirm box -->
                                    <div id="<%= confirmID%>" class="modal">
                                        <div class="modal-content">
                                            <div class="container">
                                                <h1>確認申請 Confirm Application<br><%= models.idCode%></h1>
                                                <p>確定要確認這份申請表?<br>Are you sure you want to confirm this application?</p>
                                                <div class="clearfix">
                                                    <button type="button" class="cancelbtn modalBtn"
                                                        onclick="document.getElementById('<%= confirmID%>').style.display='none'">取消
                                                        Cancel</button>
                                                    <button type="button" class="confirmbtn modalBtn"
                                                        onclick="confirm('<%= models.id%>')">確認 Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-outline-warning" id="statusBtn"
                                        disabled>資料不全<br>Data Deficiency</button>

                                    <%} else {%>
                                    <%var confirmID = "con"+ models.id %>
                                    <a type="button" class="btn btn-primary" id="statusBtn"
                                        onclick="document.getElementById('<%= confirmID%>').style.display='block'"
                                        style="color: white;">確認<br>Confirm</a>
                                    <!-- confirm box -->
                                    <div id="<%= confirmID%>" class="modal">
                                        <div class="modal-content">
                                            <div class="container">
                                                <h1>確認申請 Confirm Application<br><%= models.idCode%></h1>
                                                <p>確定要確認這份申請表?<br>Are you sure you want to confirm this application?</p>
                                                <div class="clearfix">
                                                    <button type="button" class="cancelbtn modalBtn"
                                                        onclick="document.getElementById('<%= confirmID%>').style.display='none'">取消
                                                        Cancel</button>
                                                    <button type="button" class="confirmbtn modalBtn"
                                                        onclick="confirm('<%= models.id%>')">確認 Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a type="button" class="btn btn-warning" id="statusBtn"
                                        onclick="dataDef('<%= models.id%>')" style="color: white;">資料不全<br>Data
                                        Deficiency</a>
                                    <%}%>
           
                            <%var deleteID = "del"+ models.id %>
                                    <a type="button" class="btn btn-danger" id="statusBtn"
                                        onclick="document.getElementById('<%= deleteID%>').style.display='block'"
                                        style="color: white;">拒絕<br>Rejected</a>
                                    <!-- reject box -->
                                    <div id="<%= deleteID%>" class="modal">
                                        <div class="modal-content">
                                            <div class="container">
                                                <h1>拒絕申請 Reject Application<br><%= models.idCode%></h1>
                                                <p>確定要拒絕這份申請表?<br>Are you sure you want to reject this application?</p>
                                                <div class="clearfix">
                                                    <button type="button" class="cancelbtn modalBtn"
                                                        onclick="document.getElementById('<%= deleteID%>').style.display='none'">取消
                                                        Cancel</button>
                                                    <button type="button" class="deletebtn modalBtn"
                                                        onclick="rejectForm('<%= models.id%>')">拒絕 Rejected</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <%if (models.teamStatus == "waitTeam") {%>
                                    <button type="button" class="btn btn-outline-info" id="statusBtn"
                                        disabled>後補<br>Waitiing</button>
                                    <%} else {%>
                                    <a type="button" class="btn btn-info" id="statusBtn" style="color: white;"
                                        onclick="waitingList('<%= models.id%>')">後補<br>Waitiing</a>
                                    <%}%>
                            <%}%>

                                    <a type="button" class="btn btn-success" id="statusBtn"
                                        href="/admin/applyHandle/gfaEditForm/<%= models.id %>">編輯<br>Edit</a>
                                </td>
                            </tr>
                            <%});%>
                            <%}%>
     </table>


</div>

<script>
    //Confirm all
    async function confirmAll() {
        var response = await fetch("/admin/applyHandle/gfa/confirmAll/", {
            method: "POST",
            credentials: 'same-origin',
        });
        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.statusText);
        }
    };

    //confirm button
    async function confirm(id) {
        var response = await fetch("/admin/applyHandle/confirm/gfa/" + id, {
            method: "POST",
            credentials: 'same-origin',
        });
        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.status + ": " + response.statusText);
        }
    };

    //Reject form
    async function rejectForm(id) {
        var response = await fetch("/admin/applyHandle/reject/gfa/" + id, {
            method: "POST",
            credentials: 'same-origin',
        });
        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.status + ": " + response.statusText);
        }
    };


    //dataDef
    async function dataDef(id) {
        var response = await fetch("/admin/applyHandle/dataDef/gfa/" + id, {
            method: "POST",
            credentials: 'same-origin',
        });
        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.status + ": " + response.statusText);
        }
    };

    //waitingList
    async function waitingList(id) {
        var response = await fetch("/admin/applyHandle/waitingList/gfa/" + id, {
            method: "POST",
            credentials: 'same-origin',
        });
        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.status + ": " + response.statusText);
        }
    };
</script>