<div class="card col-12">

        <h1 style="text-align:center">
                運動員資料
        </h1>
        <table class="table table-bordered">
                <tbody>
                        <tr>
                                <td style="text-align:center"><img src="<%=athelete.avatar%>" style="width:100px;height:100px"
                                        /></label>
                                </td>
                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>

                        </tr>

                        <tr>
                                <td style="text-align:center"><label style="font-size:13pt">項目:</label>
                                </td>
                                <td style="text-align:center">
                                        <%=athelete.Choice1%>
                                </td>
                                <td style="text-align:center">
                                        <%=athelete.Choice2%>
                                </td>


                                <td style="text-align:center">
                                        <%=athelete.Choice3%>
                                </td>


                        </tr>

                        <tr>
                                <td style="text-align:center">
                                        <%=athelete.Choice4%>
                                </td>
                                <td style="text-align:center">
                                        <%=athelete.Choice5%>
                                </td>
                                <td style="text-align:center">
                                        <%=athelete.Choice6%>
                                </td>



                                <td style="text-align:center"></td>

                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">中文姓名 Chinese Name : </label>
                                        <%=athelete.ChiName%>
                                </td>
                                <td style="text-align:center"><label style="font-size:13pt">英文姓名 Surname, First name :</label>
                                        <%=athelete.EngName%>
                                </td>


                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center">
                                </td>


                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">性別 Gender :</label>
                                        <%=athelete.Gender%>
                                </td>
                                <td style="text-align:center"><label style="font-size:13pt">出生日期 Date of Birth (DD/MM/YYYY)
                                                :</label>
                                        <%=athelete.Date%>
                                </td>


                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center">
                                </td>


                        </tr>



                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">電郵 Email: </label>
                                        <%=athelete.Email%>
                                </td>
                                <td style="text-align:center"><label style="font-size:13pt">聯絡電話 Contact No: </label>
                                        <%=athelete.Contact%>
                                </td>


                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center">
                                </td>


                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">地址（中）Address (Chinese): </label>
                                        <%=athelete.AddressChi%>
                                </td>
                                <td style="text-align:center"></td>


                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center">
                                </td>


                        </tr>

                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">地址（英）Address (English): </label>
                                        <%=athelete.AddressEng%>
                                </td>
                                <td style="text-align:center"></td>


                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center">
                                </td>


                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">學校名稱 (中文) Name of School (Chinese):
                                                </label>
                                        <%=athelete.SchoolChi%>
                                </td>
                                <td style="text-align:center"></td>


                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center">
                                </td>


                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">學校名稱 (英文) Name of School (English):
                                                </label>
                                        <%=athelete.SchoolEng%>
                                </td>
                                <td style="text-align:center"></td>


                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center">
                                </td>


                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">就讀級別 Class: </label>
                                        <%=athelete.Class%>
                                </td>
                                <td style="text-align:center"></td>


                                <td style="text-align:center">
                                </td>
                                <td style="text-align:center">
                                </td>


                        </tr>

        </table>
        <label style="font-size:16pt"><b>(乙部) 運動員家長或監護人資料 Information of Parents / Guardians </b></label><br>

        <table class="table table-bordered">
                <tbody>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">中文姓名 Chinese Name : </label>
                                        <%=athelete.ChiNamePar%>
                                </td>
                                <td style="text-align:center"><label style="font-size:13pt">英文姓名 Surname, First name : </label>
                                        <%=athelete.EngNamePar%>
                                </td>





                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">電郵 Email : </label>
                                        <%=athelete.EmailPar%>
                                </td>
                                <td style="text-align:center"></td>





                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">聯絡電話 Contact No.: </label>
                                        <%=athelete.ContactPar%>
                                </td>
                                <td style="text-align:center">
                                </td>




                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">如遇緊急情況聯絡人姓名 Emergency contact
                                                person: </label>
                                        <%=athelete.EmergencyContactName%>
                                </td>
                                <td style="text-align:center"><label style="font-size:13pt">電話 Contact No.:</label>
                                        <%=athelete.EmergencyContact%>
                                </td>





                        </tr>
                        <tr>

                                <td style="text-align:center"><label style="font-size:13pt">支票號碼: </label>
                                        <%=athelete.CheckNo%>
                                </td>






                        </tr>

                </tbody>

        </table>

</div>
