<aside class="gymnastics">
  <section>
    <h6 class="side-heading3"><span class="reflect" data-text="體操介紹">體操介紹</span></h6>
    <ul class="list-unstyled">
      <li><a class="side-button1 <%= req.path == '/about-gymnastics' ? 'active':'' %>" href="/about-gymnastics">競技體操</a></li>
      <li><a class="side-button1 <%= req.path == '/about-gymnastics/rhythmic' ? 'active':'' %>" href="/about-gymnastics/rhythmic">藝術體操</a></li>
      <li><a class="side-button1 <%= req.path == '/about-gymnastics/acrobatic' ? 'active':'' %>" href="/about-gymnastics/acrobatic">技巧體操</a></li>
      <li><a class="side-button1 <%= req.path == '/about-gymnastics/trampoline' ? 'active':'' %>" href="/about-gymnastics/trampoline">彈網</a></li>
      <li><a class="side-button1 <%= req.path == '/about-gymnastics/aerobic' ? 'active':'' %>" href="/about-gymnastics/aerobic">健美體操</a></li>
      <li><a class="side-button1 <%= req.path == '/about-gymnastics/general' ? 'active':'' %>" href="/about-gymnastics/general">普及體操</a></li>
    </ul>
  </section>
</aside>
