<form action="/pages/competition/form/TRGPFormPreview" method="POST">
    <% req.session.data = req.session.data || {} %>
    <div class="card border-0 col-12" style="width: 740pt; background: transparent;">

        <div class="card-body col-12">
            <h1 style="font-size: 18pt; text-align: center;"><b>Preview 預覽</b></h1>
            <br>
            <h1 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:16pt; color: #888888;"><b>全港藝術體操分齡比賽</b></h1>
            <h2 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:14pt; color: #888888;">
                <u>團體項目報名表(公開組:學校以外之團體)</u></h2>
        </div>

        <!-- 比賽年份 Year of Competition -->
        <div class="card-body col-12">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">比賽年份 Year of Competition: </label>
            <b><%= req.session.data.compYear%></b>    
        </div>


        <div class="card-body col-12">
            <div class="row">
                <label class="col-12" style="color: #83a70c; font-weight: bold; font-size: 15px;">團體資料 Group
                    Details</label>
                <br>
                <span class="col-12">機構名稱(中文) Organization Name(Chinese): <b><%= req.session.data.teamName%></b></span>
                <span class="col-sm-6">聯絡電話 Contact Number: <b><%= req.session.data.Phone%></b></span>
                <span class="col-sm-6">聯絡電郵 Email: <b><%= req.session.data.Email%></b></span>
                <span class="col-sm-6">教練姓名 Coach Name: <b><%= req.session.data.CoachName%></b></span>
                <span class="col-sm-6">教練聯絡電話 Coach Contact Number: <b><%= req.session.data.CoachPhone%></b></span>
                <sapn class="col-12">組別 Category: <b><%= req.session.data.category%></b></sapn>
            </div>
        </div>

        <div class="card-body col-12">
            <div class="row">
                <label class="col-12" style="color: #83a70c; font-weight: bold; font-size: 15px;">參加者個人資料 Applicants'
                    Personal
                    Details</label>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-12" style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(1)
                            Applicant(1)</label>
                        <span class="col-12">是否有中文姓名 Any Chinese name: <b><%= req.session.data.havecname1%></b></span>
                        <span class="col-sm-6">中文姓名 Name in Chinese:
                            <% if(req.session.data.havecname1 == "是 Yes") {%>
                            <b><%= req.session.data.Mate1ChiName%></b>
                            <%} else if(req.session.data.havecname1 == "否 No"){%>
                            <b>N/A</b>
                            <%}%>
                        </span>
                        <span class="col-sm-6">英文姓名 Name in English: <b><%= req.session.data.Mate1EngName%></b></span>
                        <span class="col-sm-6">身分證號碼 ID Card Number: <b><%= req.session.data.Mate1IDNo%></b></span>
                        <span class="col-sm-6">出生日期 Date of Birth (yyyy-mm-dd):
                            <b><%= req.session.data.Mate1Date%></b></span>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-12" style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(2)
                            Applicant(2)</label>
                        <span class="col-12">是否有中文姓名 Any Chinese name: <b><%= req.session.data.havecname2%></b></span>
                        <span class="col-sm-6">中文姓名 Name in Chinese:
                            <% if(req.session.data.havecname2 == "是 Yes") {%>
                            <b><%= req.session.data.Mate2ChiName%></b>
                            <%} else if(req.session.data.havecname2 == "否 No"){%>
                            <b>N/A</b>
                            <%}%>
                    </span>
                    <span class="col-sm-6">英文姓名 Name in English: <b><%= req.session.data.Mate2EngName%></b></span>
                        <span class="col-sm-6">身分證號碼 ID Card Number: <b><%= req.session.data.Mate2IDNo%></b></span>
                        <span class="col-sm-6">出生日期 Date of Birth (yyyy-mm-dd):
                            <b><%= req.session.data.Mate2Date%></b></span>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-12" style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(3)
                            Applicant(3)</label>
                        <span class="col-12">是否有中文姓名 Any Chinese name: <b><%= req.session.data.havecname3%></b></span>
                        <span class="col-sm-6">中文姓名 Name in Chinese:
                            <% if(req.session.data.havecname3 == "是 Yes") {%>
                            <b><%= req.session.data.Mate3ChiName%></b>
                            <%} else if(req.session.data.havecname3 == "否 No"){%>
                            <b>N/A</b>
                            <%}%>
                    </span>
                    <span class="col-sm-6">英文姓名 Name in English: <b><%= req.session.data.Mate3EngName%></b></span>
                        <span class="col-sm-6">身分證號碼 ID Card Number: <b><%= req.session.data.Mate3IDNo%></b></span>
                        <span class="col-sm-6">出生日期 Date of Birth (yyyy-mm-dd):
                            <b><%= req.session.data.Mate3Date%></b></span>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="col-12" style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(4)
                            Applicant(4)</label>
                        <span class="col-12">是否有中文姓名 Any Chinese name: <b><%= req.session.data.havecname4%></b></span>
                        <span class="col-sm-6">中文姓名 Name in Chinese:
                            <% if(req.session.data.havecname4 == "是 Yes") {%>
                            <b><%= req.session.data.Mate4ChiName%></b>
                            <%} else if(req.session.data.havecname4 == "否 No"){%>
                            <b>N/A</b>
                            <%}%>
                    </span>
                    <span class="col-sm-6">英文姓名 Name in English: <b><%= req.session.data.Mate4EngName%></b></span>
                        <span class="col-sm-6">身分證號碼 ID Card Number: <b><%= req.session.data.Mate4IDNo%></b></span>
                        <span class="col-sm-6">出生日期 Date of Birth (yyyy-mm-dd):
                            <b><%= req.session.data.Mate4Date%></b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body col-12">
            <div class="row">
                <label class="col-12" style="color: #83a70c; font-weight: bold; font-size: 15px;">費用 Fee</label>
                <span class="col-12">團體項目 Group Event: $250 X <b><%= req.session.data.TeamNumber%></b> 隊 team(s) =
                    $<b><%= req.session.data.TeamPrice%></b></span>
                <span class="col-12">總額 Total price = $ <b><%= req.session.data.TeamTotalPrice%></b></span>
            </div>
        </div>

        <div class="card-body col-12">
            <div class="row">
                <label class="col-12" style="color: #83a70c; font-weight: bold; font-size: 15px;">機構負責人資料 Organization's
                    Leader
                    Details</label>
                <span class="col-sm-6">機構負責人姓名 Leader's Name: <b><%= req.session.data.leaderName%></b></span>
                <span class="col-sm-6">機構負責人職位 Leader's Position: <b><%= req.session.data.leaderPosition%></b></span>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="form-group col-sm-10">
                <button type="submit" class="btn btn-info"
                    style="background-color: #83a70c; border-color: #83a70c;width: 150px; float:right"
                    onclick="message()">Submit
                    提交</button>

            </div>

            <div class="form-group col-sm-2">
                <button type="button" class="btn btn-danger" style="width: 150px; float:right"
                    onclick="history.back()">Cancel
                    取消</button>
            </div>
        </div>
    </div>
</form>

<script>
    function message() {
        alert("提交成功!! Successfully Submitted!");
    }

</script>